<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBi4fjcqzoCjd7VJkuTkkTWKztdF67Ga7o</string>
	<key>GCM_SENDER_ID</key>
	<string>797036482839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.syntheticdevs.farmo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>farmo-404ba</string>
	<key>STORAGE_BUCKET</key>
	<string>farmo-404ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797036482839:ios:1d5d33080f97afc49da752</string>
</dict>
</plist>